.table {
  width: 100%;
}

.table,
.table__cell,
.table__row {
  border: 2px solid black;
  border-collapse: collapse;
}

.thead {
  background-color: #cccccc;
}

tr:nth-child(even) {
  background-color: #ececec;
}

.table__cell {
  padding: 20px 5px;
  text-align: left;
}

.action__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
}

.action__button {
  font-size: 20px;
  cursor: pointer;
}

.table__cell--edit {
  padding: 0;
}

.table__cell--edit > input {
  width: 100%;
  padding: 20px 5px;
}

.popup__modal {
  padding: 20px;
  border: 2px solid black;
  width: 80%;
  max-width: 500px;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

.modal__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding-right: 50px;
}
